table {
    border-collapse: separate;
    border-spacing: 10px 15px;
  }
th{
    background-color: bisque;
 }
  
  th,
  td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
  }
  #main{
    padding-left: 570px;
  }

